# Stripe
STRIPE_SECRET_KEY=sk_test_...

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_..

# Supabase / PostgreSQL
DATABASE_URL="postgresql://postgres.xxx:yyy@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"


